{% extends "base.html" %}
{% block title %} Главная {% endblock %}
{% block content%}
<div class="row mt-5">
  <div class="col">
    <h1>Добро пожаловать на сайт, созданный для Министерства Культуры Российской Федерации!!</h1>
    <p>Загрузите фотографию музейного экспоната, и мы покажем вам, на какой предмет он похож.</p>
    
    <form action="/upload/" method="post" enctype="multipart/form-data" class="mt-3">
      {% csrf_token %}
      <input type="file" name="image" accept="image/*" required>
      <button type="submit" class="btn btn-primary mt-2">Загрузить фото</button>
    </form>
  </div>
</div>
{% endblock %}
